**NAME: ANSH PRATAP SINGH**

**PRN: 25070123143**

**AIM: STUDY OF PANDAS LIBRARY**

In [ ]:
#Introduce to pandas
# Pandas : Panel Data
'''Used for:
Structured data operations and manipulations
Time Series'''

'Used for:\nStructured data operations and manipulations\nTime Series'

In [ ]:
import pandas as pd
s = pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
#Create data frame
data = {
    "NAME" : ["A" , "B" , "C"],
    "MARKS" : [30,20,10]
}
df = pd.DataFrame(data)
print(df , "\n")
print(df.loc[0,"NAME"],"\n")
print(df.iloc[2,1])

  NAME  MARKS
0    A     30
1    B     20
2    C     10

A

10

In [ ]:
# Find the structure of the Data Frame
print(df.shape)
print(df.ndim)
print(df.size)

(3, 2)
2
6

In [ ]:
#Display column names
print(df.columns , "\n")
#Check data types of each column
print(df.dtypes , "\n")
#Acess Individual column
print(df["MARKS"] , "\n")

Index(['NAME', 'MARKS'], dtype='object')

NAME     object
MARKS     int64
dtype: object

0    30
1    20
2    10
Name: MARKS, dtype: int64

In [ ]:
# Access name of first row
print(df.loc[0] , "\n")
# Access name of second row
print(df.loc[1] , "\n")

NAME      A
MARKS    30
Name: 0, dtype: object

NAME      B
MARKS    20
Name: 1, dtype: object

In [ ]:
#ADD  a new column
df["GRADE"] = ["FIRST CLASS" , "DISTINCTION" , "SECOND CLASS"]
print(df , "\n")
#Change the marks of A to 40
df.loc[0,"MARKS"] = 40
print(df , "\n")
#Delete a column
del df["GRADE"]
print(df , "\n")

  NAME  MARKS         GRADE
0    A     40   FIRST CLASS
1    B     20   DISTINCTION
2    C     10  SECOND CLASS

  NAME  MARKS         GRADE
0    A     40   FIRST CLASS
1    B     20   DISTINCTION
2    C     10  SECOND CLASS

  NAME  MARKS
0    A     40
1    B     20
2    C     10

In [ ]:
#Perform Basic Stastical Analysis
mean1 = df["MARKS"].mean()
print(mean1 , "\n")
max1 = df["MARKS"].max()
print(max1 , "\n")
min1 = df["MARKS"].min()
print(min1)

23.333333333333332

40

10

In [ ]:
#Apply condition (Filtering)
# Display students whose marks > 10
print(df[df["MARKS"]>10])

  NAME  MARKS
0    A     40
1    B     20